@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/* Set universal properties */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
    scroll-behavior: smooth;
}

:root{
    --bgOrange: #e84949;
}

/* Make wrapper to occupy the entire screen height with respective overflow properties */
.wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

/* container div will be center by making margin as 0 auto */
.container{
    width: 1200px;
    margin: 0 auto;
}

/* --------------------- Navbar Styling -------------------------- */

/* Make the navbar div as flex with justify-content as space-between so that the nav links and logo are pushed to opposite ends */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* give some padding from top */
    padding-top: 1rem;
}

/* reduce the margin from left, so that the text will almost overlap the image logo */
.logo-text{
    margin-left: -1.7rem;
    font-size: 20px;
    font-family: 'Tangerine', cursive;
    font-size: 2.5rem;
    color: var(--bgOrange);
}

/* make the nav links container as flex so that the nav links are in the same line and give some gap */
.nav-items{
    display: flex;
    gap: 2rem;
    padding: 0 4rem;
}

/* nav links styling */
.nav-items div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.nav-items div a{
    color: black;
}

/* remove text decoration */
a{
    text-decoration: none;
}

/* .nav-items div:hover{
    transition: 0.8 s;
    font-weight: bold;
    color: red;
} */

/* styling when the nav-links are hovered */
.nav-items div a:hover{
    transition: 0.8 s;
    font-weight: bold;
    color: var(--bgOrange);
}

/* --------------------- Navbar Styling -------------------------- */

/* ------------------- Hero Section Styling ---------------------- */

/* Main Hero section styling */
.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;

    /* We will be overlapping some stufss, hence we will make this container as relative */
    position: relative;

    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}

/* Faded text's stylign */
.faded-text{
    /* Bring the text dow */
    position: absolute;
    bottom: -8%;
    left: -5%;

    /* Make sure the text can't be selected */
    user-select: none;
    /* Text styling */
    color: rgb(231,231,231);
    font-size: 7rem;
    font-weight: bold;
    transition: all 3s;
}

/* Make the left section  */

.hero-section-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.hero-section-heading{
    font-size: 35px;
    font-weight: 500;
    color: #343d68;
}

/* The moving text styling */
.role{
    color: #4e45d5;
    font-weight: 800;
}

/* Portfolio Heaing */
.hero-section-sub-heading{
    font-size: 45px;
    line-height: 45px;
}

/* Portfolio Description */
.hero-section-description{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}

/* Styling of button */
.btn-pink{
    background-color: var(--bgOrange);
    width: fit-content;
    color: white;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 3px transparent;
    position: relative;
    z-index: 1;
}

.btn-pink::before {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
  }
  .btn-pink:hover::before {
    transform: scaleX(1);
  }
  .btn-pink:hover {
    border: solid 3px var(--bgOrange);
    color: black;
  }

  /* Right Hero section */

  /* Make the main div relative, so that we can float remainign elements */
  .hero-section-right{
    position: relative;
  }

  /* User Image */
  .user-image{
    padding: 2.5rem;

    /* Apply grayscale filter */
    filter: grayscale(1);
    transition: all 1s;

    /* The image zooms in and out infinitely and the grayscale switches*/
    animation: scaleImage 5s linear infinite;
  }

  .user-image img{
    z-index: -9;
  }

  @keyframes scaleImage {
    0%{
        filter: grayscale(0);
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
        filter: grayscale(1);
        box-shadow: 3px 3px 10px black;
    }
    100%{
        transform: scale(1);
        filter: grayscale(0);
    }
  }

/* ------------------- Hero Section Styling ---------------------- */


/* ------------------- Education Section------------- */

.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-top: 4rem;
}

.education-card{
  width: 70%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  background: conic-gradient(from 90deg at 50% 50%, rgba(255, 174, 0, 1) 0%, rgba(0, 106, 212, 1) 15%, rgba(238, 130, 238, 1) 96%);
  color: white;
  border-radius: 1rem;
}

.education-card:hover{
  transform:scale(1.05);
  -webkit-box-shadow:0px 0px 16px 5px #8000ff ;
  -moz-box-shadow:0px 0px 16px 5px #8000ff ;
  box-shadow:0px 0px 16px 5px #8000ff ;
}

.institute{
  display: flex;
  align-items: center;
  justify-content: baseline;
  gap: 0.6rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid white;
}

.institute-logo{
  width:60px;
  height: 60px;
  transition:all 0.5s;
}

.institute h2{
  font-size: 2rem;
  font-weight: bold;
  line-height: 3rem;
}

.education-meta{
  display: flex;
  justify-content: space-between;
}

.education-meta p{
  font-size: 1.1rem;
  font-style: italic;
  font-weight: bold;
}

.education-content{
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.education-content p:nth-child(1){
  font-weight: bold;
  font-size: 1.4rem;
}

.education-content p:nth-child(2){
  font-size: 1.1rem;
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-top: 4rem;
}

.experience-card{
  width: 70%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  background: linear-gradient(90deg, rgba(35, 105, 200, 1) 0%, rgba(190, 102, 125, 1) 99%);
  color: white;
  border-radius: 1rem;
}

.experience-card:hover{
  transform:scale(1.05);
  -webkit-box-shadow:0px 0px 9px 7px #028de3 ;
  -moz-box-shadow:0px 0px 9px 7px #028de3 ;
  box-shadow:0px 0px 9px 7px #028de3 ;
}

.experience-meta{
  display: flex;
  justify-content: space-between;
}

.experience-meta p{
  font-size: 1.1rem;
  font-style: italic;
  font-weight: bold;
}

.experience-desc{
  list-style: none;
  line-height: 1.5rem;
  text-align: justify;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.experience-desc li::before {
  content: "✅";
  display: inline-block;
  margin-right: 0.5rem;
}

/* ------------------- Education & Experience Section------------- */


/* ------------------- Project Section Styling ---------------------- */

/* The project section will have a bg color */
.project-section{
    background-color: rgb(231,231,231);
    margin-top: 4rem;
}

/* Styling the Project Header */
.page-header{
    color: var(--bgOrange);
    font-size: 90px;
    text-align: center;
    padding-top: 30px;
}

/* The container styling for project cards */
.project-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;

    /* Making the card's parent container as flex */
    display: flex;
    flex-direction: column;
    gap: 120px;
}

/* Commonn styling for Project Cards */
.project-card{
    width: 90%;
    height: 550px;
    /* Adding bg image to the card */
    background-size: cover;

    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;
}

/* Transition to be applied after hovering */
.project-card::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1f1f1f9a;
    z-index: 0;
}

/* Properties we want when it is hovered */
.project-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Add gradient */
    background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
    /* Scale from left on X */
    transform:scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index:1;
}

.project-card:hover::before{
    transform: scaleX(1);
}

.project-number{
    /* Make it absolute, so that it can float */
    position:absolute;
    font-size:200px;
    font-weight:600;
    color:white;
    /* Make z-index positive so that it can overlap */
    z-index:10;
    /* Make opacity: 0 so that it will not appear */
    opacity: 0;
  }

  /* When hovered, make the number appear */
  .project-card:hover .project-number{
    opacity: 1;
  }

  /* Placement of number on card*/
  .project-number-right{
    right:-40px;
    top:-45px;
  }

  .project-number-left{
    left:-40px;
    top:-45px;
  }

  /* Styling the project content */
  .project-content{
    /* content should be on top of bg image */
    position: absolute;
    display: flex;
    flex-direction: column;

    color: white;
    padding: 2em;
    bottom: 20%;
    /* make z-index +ve so that it is on top of the image*/
    z-index: 5;
    gap: 1em;
    transform: all 0.4s;
  }

  .project-content-left{
    left: 10%;
  }

  .project-content-right{
    right: 10%;
  }

  /* Make the skills container as flex with wrapping */
  .project-skill-container{
    width: 60%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  /* size of the project skill icons */
  .project-skill{
    width: 40px;
  }

  /* Project headin and subheading styling */
  .project-heading{
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
  }

  .project-subHeading{
    width: 70%;
    font-size: 16px;
    font-style: italic;
  }

  /* Make the buttons container, flex */
  .btn-grp{
    display: flex;
    gap: 0.9rem;
    align-items: center;
  }

  .btn-project:hover{
    border: none;
  }

  /* Style the github icons */
  .icon{
    cursor:pointer;
    color:white;
    font-size:35px;
    transition:all 0.4s;
  }

  .icon:hover{
    color:var(--bgOrange);
  }

  #project1{
    background-image: url(./images/projects/Rakshak.png);
  }

  #project2{
    margin-left: 120px;
    background-image: url(./images/projects/Drishya.png);
  }

  #project3{
    background-image: url(./images/projects/healthpost.png);
  }

  #project4{
    margin-left: 120px;
    background-image: url(./images/projects/Project4.png);
  }

  /* ------------------- Project Section Styling ---------------------- */

  /* ------------------- Skill Section Styling ---------------------- */

  .skill-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    gap: 5rem;
    position: relative;
  }

  .logo-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3.5rem;
  }

  .blob-style{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index:-5;
    transform:translate(-50%, -50%);
    animation: blobAnimation 3s linear infinite;
  }

  @keyframes blobAnimation {
    50%{
        top:54%;
        left:46%;
      }
  }

  .skills-logo{
    width:90px;
    transition:all 0.5s;
  }
  
  .skills-logo:hover{
    transform:scale(1.2);
  }

  
  .caps{
    font-size:90px;
  }
  /* ------------------- Skills Section Styling ---------------------- */

/* ------------------ Footer Styling ------------------------------ */

footer{
    position: relative;
    margin-top: -1px;
    background-color: #343d68;
    padding: 5rem;
}

.footer-faded-text{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #535c87;
    user-select: none;
    font-size: 5em;
}

.icon-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}